{
  "singleQuote": true,
  "printWidth": 150,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "trailingComma": "none",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false
} 